.about{
  background: linear-gradient(0deg, var(--c-white) 50%, var(--bg-color) 50%);
  width: 100%;
  height: 100vh;
}

.about-title{
  font-size: 12vw;
  margin-top: 3%;
  margin-left: 3%;
  color: var(--text-color);
}

@media only screen and (min-width: 768px) {
  .about-title{
    font-size: 5vw;
  }

  .about{
    
  }
}