.flechasvg {
    width: 100px;
    height: 50px;
    max-width: 100px;
    max-height: 50px;
    overflow: visible;
    cursor: pointer;
    margin-left: 38%;
  }

  
  .flechasvg .draw-arrow {
    stroke-width: 10;
    stroke: var(--text-color);
    fill: none;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-name: draw;
  }
  .flechasvg .draw-arrow.tail-1 {
    animation-delay: 2.3s;
  }
  .flechasvg .draw-arrow.tail-2 {
    animation-delay: 2.3s
  }
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
   }
  }

@media only screen and (min-width: 768px) {
    .flechasvg{
      width: 180px;
      height: 90px;
      max-width: 180px;
      max-height: 90px;
      overflow: visible;
      cursor: pointer;
      margin-left: 44.5%;
  }
}