    /* Css general */
*{
  font-family: 'Roboto';
  margin: auto !important ;
  padding: auto !important  ;
}
html{
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 12px;               /* Ancho de scrollbar */
}

body::-webkit-scrollbar-track {
  background: #E2E2DF;        /* Color de fondo */
}

body::-webkit-scrollbar-thumb {
  background-color: #C5C5BF;    /* color de la barra */
  border-radius: 20px;       /* radio de la barra */
  border: 3px solid #E2E2DF;  /* padding al rededor de la barra */
}

.app{
  height: 100vh;
  width: 100%;
}

    /* About.css */



.tituloAbout{

}

    /* Skills.css */

.skills{
  background-color: #FFD6A5;
  height: 100vh;
  width: 100%;
}

    /* Contact.css */

.contact{
  background-color: #FFADAD;
  height: 100vh;
  width: 100%;
}