/* Variables */

:root{
  --text-color: #CAFFBF;
  --bg-color: #1B3630;
  --blob-home: #88FF70;
  --c-white: #FFF
}

.app{
  display: flex;
  flex-direction: column;
  align-self: center;
}

html {
  box-sizing: border-box;
}
*,*::before,*::after {
  box-sizing: inherit;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


h1{
  margin: 0;
}

body::-webkit-scrollbar {
  width: 12px;               /* Ancho de scrollbar */
}

body::-webkit-scrollbar-track {
  background: #E2E2DF;        /* Color de fondo */
}

body::-webkit-scrollbar-thumb {
  background-color: #525252;    /* color de la barra */
  border-radius: 20px;       /* radio de la barra */
  border: 3px solid #E2E2DF;  /* padding al rededor de la barra */
}
